* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

svg {
    margin-top: 5px;
}

img {
    display: none;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.top-container {
    padding: 10px 20px 5px 20px;
    border-bottom: solid 1px lightgray;    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}

.top-list {
    padding: 15px 20px;
    border-bottom: solid 1px lightgray;
}

.pop-down {
    padding: 20px 0px 0px 0px;
}

.pop-down > li {
    padding: 5px 0px;
}

.pop-down > li > a {
    color: black;
}

.top-link {
    color: rgb(103, 153, 255);
    text-transform: uppercase;    
}

.main {
    display: none;
}

.courses {
    display: none;
}

.how {
    display: none;
}

